<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>one</title>
    <!-- it help you to boost the website working speed  -->
    <script>
        window.location = "/shop";
    </script>
</head>

<body>
    <style>
        .text-uppercase,
        h1,
        p {
            text-align: center;
            text-transform: capitalize;
            color: black;
        }
    </style>
    <div calss="text-uppercase">
        <h1>these is the home page. and thanks for the revision .</h1>
        <p> these is the pragraph that is used for the dummey puroposes for the frontend development
            .
            There are many things that you can do with the django framework. it is the one of the most used framework on
            the
            world .

        </p>
        <p>to day i will tell all the advantages of using the python framwork Django in the webdevelopment as well as
            webapplication works .
            django is very popular in the feild of the programming.i gives different function in which help you to werk
            in the better ways .

        </p>
        <a href="/shop"
            style="text-align: center; padding:20px; background-color:blue; margin:20px; border-radius:20px;text-decoration:none; color:#fff;">go
            to Shop </a>
        <a href="/blog"
            style="text-align: center; padding:20px; background-color:blue; margin:20px; border-radius:20px;text-decoration:none; color:#fff;">go
            to blog</a>
        <h1><em>* "thanks "*</em></h1>
    </div>


</body>

</html>